* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.feed-img {
    width: 100%;
    height:900px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/imgs/javed.webp');
    background-repeat: no-repeat;
    background-size: cover; 
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-section{
    width:100%;
    display:flex;
    height:170vh;
    gap:10px;
    margin-bottom:20px;
}
.form-section{
    width:50%;
    height:170vh;
    padding-left:20px;
    border-right: 2px dotted white;
}
.feedback-map{
    width:50%;
    height:160vh;
}   
.star-container {
    width:900px;
    height: 200px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom:20px;
}

.star-card1,
.star-card2,
.star-card3,
.star-card4 {
    width: calc(45% - 10px); 
    height:90px; 
    margin-bottom: 10px; 
    padding: 10px; 
}

.star-card1 p,
.star-card2 p,
.star-card3 p,
.star-card4 p {
    margin-bottom: 5px;
}

.star1 {
    font-size:3rem;
    margin: 2px; 
}
/* form start  */
.form-container{
    height:200vh;
    padding:20px;
}
.form-group, .form-group2,.radio-btn {
    margin-bottom:20px;
    width: 100%;
}

input[type="text"], input[type="datetime-local"], input[type="number"], textarea {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    height: 150px;
    width: 100%;
}

#input1 {
    width: 25%; /* Adjusted width */
    margin-left: 10px;
    margin-top: 5px;
    padding: 10px; /* Adjusted padding */
}

.radio-btn input {
    margin-right: 10px;
}

.submit {
    border-radius: 50px;
    border: 1px solid grey;
    background-color: red;
    color: white;
    padding:20px 40px;
    text-align: center;
    text-decoration: none;
    margin-top:20px;
}
.form-group3{
    width:100%;
    padding:20px;
}
.form-group3 p{
    margin-bottom:5px;
}
.form-group3 input{
  margin-right:20px;
}
label{
    margin-right:20px;;
}
/* .feedback-map */
.feedback-text{
  padding:15px;
  text-align: center;
  line-height:1.5;
}
iframe{
    width:100%;
    height:400px;
    padding:20px;
    margin-bottom:50px;
}
.feedback-text2{
    padding:20px;
    font-size:2.6rem;
    text-align: center;
}
.feedback-text2 p{
    margin-bottom:1.5rem;
}
#i-email i {
    margin-right: 8px; 
    font-size:3rem;
}
.fheading{
    font-size:7rem;
    padding:20px;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background-image {
    background-image: url('path/to/your/image.jpg'); /* Replace with the path to your image */
    background-size: cover; /* Scale the image to cover the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    width: 100%;
    height: 100vh; /* Full height of the viewport */
}
